[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
a[ng-click] {
  cursor: pointer;
}
.row {
  margin: 0px;
}
.navbar-header {
  font-size: 2.8em;
  font-weight: bold;
  font-style: italic;
}
.navbar-header i {
  margin: 0 10px 0 0;
  color: deepskyblue;
}
#top-nav-bar {
  font-size: 1.05em;
}
#top-nav-bar .navbar-nav i {
  color: #47d1ff;
  margin-right: 5px;
}
#top-nav-bar .navbar-right i {
  color: #ffe427;
}
#top-nav-bar .zone-nav {
  font-size: 1.1em;
}
#top-nav-bar .zone-nav .navbar-brand {
  padding-left: 0px;
  padding-right: 0px;
}
#top-nav-bar .zone-nav #zone-selector {
  margin-left: 35px;
}
#top-nav-bar .zone-nav select {
  background-color: #2b3e50;
  font-size: 0.9em;
}
#top-nav-bar .zone-nav .zone-nav-detail {
  padding-left: 30px;
  vertical-align: middle;
}
#top-nav-bar .zone-nav .zone-nav-detail span {
  font-weight: bold;
}
#main-panel {
  margin-top: 50px;
  min-height: 880px;
  padding-top: 15px;
}
#main-panel .content-panel {
  margin-top: 15px;
}
#main-panel .content-panel .message-box {
  margin-top: 30px;
}
#main-panel .screen-chart-container {
  margin-top: 10px;
  padding-top: 10px;
}
.normal-form {
  margin-top: 20px;
}
.normal-form label {
  font-size: 1.05em;
}
.normal-form input,
.normal-form select,
.normal-form textarea {
  font-size: 1.2em;
  font-weight: bold;
}
i.required {
  font-size: 0.8em;
  color: #ff006a;
  margin-left: 5px;
}
.help-block {
  color: #d9e3f0 !important;
  font-size: 1em;
}
.bottom-footer {
  color: #b8b8b8;
}
#ngProgress {
  color: #ffe427 !important;
  background-color: #ffe427 !important;
}
table.dataTable tbody tr {
  background-color: #2b3e50;
}
.table-container {
  margin-top: 20px;
}
.table-container .dataTables_wrapper .dataTables_length,
.table-container .dataTables_wrapper .dataTables_filter,
.table-container .dataTables_wrapper .dataTables_info,
.table-container .dataTables_wrapper .dataTables_processing,
.table-container .dataTables_wrapper .dataTables_paginate {
  color: #ebebeb;
}
.table-container .dataTables_wrapper .dataTables_paginate .paginate_button.disabled,
.table-container .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,
.table-container .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
  color: #ebebeb !important;
}
.table-container .dataTables_wrapper .dataTables_paginate .paginate_button {
  color: inherit !important;
}
.table-container .dataTables_wrapper .dataTables_paginate .paginate_button.current {
  color: black !important;
  font-weight: bolder;
}
.table-container .dataTables_wrapper button,
.table-container .dataTables_wrapper input,
.table-container .dataTables_wrapper optgroup,
.table-container .dataTables_wrapper select,
.table-container .dataTables_wrapper textarea {
  color: #0c0c0c;
}
.table-container .dataTables_wrapper select {
  margin: 0 5px 0 5px;
}
.table-container label,
.table-container .radio label,
.table-container .checkbox label,
.table-container .help-block {
  font-size: 1.0em;
}
.table-container table.table {
  margin-bottom: 5px;
  width: 100% !important;
}
.table-container table.table thead {
  font-size: 1.25em;
}
.table-container table.table tbody {
  font-size: 1.25em;
}
.table-container table.table .chart-link {
  color: #28e4ff;
  cursor: pointer;
  margin: 0 5px 0 5px;
}
.table-container table.table .detail-link {
  color: #ffe427;
  cursor: pointer;
  margin: 0 5px 0 5px;
  font-size: 1.1em;
}
.left-panel {
  padding: 0 15px 0 0;
}
.left-panel .side-bar {
  margin-top: 30px;
}
.icon-edit {
  color: #ffe427;
  cursor: pointer;
  margin: 0 5px 0 5px;
}
.icon-delete {
  color: #ff0000;
  cursor: pointer;
  margin: 0 5px 0 5px;
}
.content-panel {
  padding: 0;
}
.content-panel .middle-panel {
  margin: 0;
  padding: 0;
}
.content-panel .right-panel {
  padding: 0;
  padding-left: 15px;
}
.content-panel .right-panel .panel-container {
  margin-top: 40px;
}
.content-panel .right-panel .mode-switch i {
  margin: 5px 10px 0 10px;
  color: #ffe427;
  cursor: pointer;
}
.content-panel .right-panel .mode-switch i span {
  color: #ebebeb;
  margin-left: 5px;
}
.content-panel .right-panel .table-detail-view {
  margin-top: 15px;
  font-size: 1em;
}
.content-panel .right-panel .table-detail-view th,
.content-panel .right-panel .table-detail-view td {
  border-color: #ebebeb;
}
.content-panel .right-panel .table-detail-view th.table-detail-key {
  width: 25%;
}
.content-panel .right-panel .table-detail-view th.table-detail-value {
  width: 75%;
}
.content-panel .right-panel .detail-sub-title {
  border-bottom: 1px solid whitesmoke;
  padding: 0 10px 0 10px;
  margin-top: 10px;
}
.content-panel .right-panel .detail-sub-title label {
  font-size: 1.5em;
}
.content-panel .right-panel .detail-sub-title i {
  margin-top: 10px;
}
i {
  margin: 0 10px 0 10px;
  color: #ffe427;
  cursor: pointer;
}
i span {
  color: #ebebeb;
  margin-left: 5px;
}
.stock-nav-panel {
  margin-top: 40px;
}
.stock-nav-panel .stock-filter-section {
  margin-bottom: 10px;
}
.stock-nav-panel input {
  color: white;
  font-size: 1.1em;
  font-weight: bold;
  background-color: #a2a2a2;
}
.detail-sub-section form {
  margin-top: 10px;
}
.detail-sub-section form label {
  font-size: 1.05em;
  font-weight: bold;
}
.detail-sub-section form input,
.detail-sub-section form select,
.detail-sub-section form textarea {
  color: black;
  font-size: 1.1em;
  font-weight: bold;
}
.indicator-required {
  color: #ff006a;
  font-size: 0.8em;
}
.chart-option {
  color: #ebebeb;
}
.chart-option ul {
  padding: 10px 0 5px 0;
}
.chart-option ul li {
  padding: 0 10px 0 10px;
  vertical-align: top;
}
.chart-option ul li label {
  font-size: 1em;
}
.chart-option ul li label input[type="checkbox"] {
  margin: 0 5px 0 5px;
}
.chart-option ul li label span {
  margin: 2px 0 0 0;
}
.chart-switch {
  margin-bottom: 5px;
}
.chart-switch .price-type {
  margin-right: 15px;
}
.chart-switch .price-type label {
  font-size: 1em;
}
.chart-switch i {
  margin: 0 5px 0 5px;
}
.chart-switch span {
  margin: 1px;
}
.chart-switch span.selected {
  text-decoration: underline;
  font-weight: bold;
}
.validation-error {
  color: #FFD455;
}
.watch-detail-panel ul {
  margin: 30px 10px 10px 10px;
}
.watch-detail-panel ul li.list-group-item {
  border: 1px white solid;
  border-left: 0 white solid;
  border-right: 0 white solid;
}
.watch-detail-panel ul li.list-group-item input[type="checkbox"] {
  margin-right: 10px;
}
.watch-detail-panel ul li.list-group-item label {
  font-size: 1.05em;
}
.watch-detail-panel ul li.list-group-item label.hint {
  font-size: 1em;
}
.searchForm {
  font-size: 1em;
}
.searchForm label {
  font-size: 1.0em;
  font-weight: bold;
}
.searchForm select {
  color: black;
  height: 39px;
}
.daily-stock-filter label,
.daily-stock-filter .radio label,
.daily-stock-filter .checkbox label,
.daily-stock-filter .help-block {
  font-size: 1.0em;
}
.daily-stock-filter input[type=text] {
  font-size: 1.1em;
  font-weight: bold;
}
.daily-stock-filter input[type=checkbox] {
  font-size: 1.1em;
  font-weight: bold;
  margin-left: 5px;
  margin-right: 5px;
}
.daily-stock-filter .form-group {
  border-bottom: 1px dashed #999;
  padding-bottom: 10px;
}
.daily-stock-filter .form-group .rzslider {
  margin-top: 20px;
}
.daily-stock-filter .sector-option {
  padding: 0 !important;
}
.daily-stock-filter .sector-selector {
  cursor: pointer;
}
.daily-stock-filter .sector-selector-selected {
  font-weight: bold;
  text-decoration: underline;
}
.daily-stock-grid .daily-stock-table {
  font-size: 1.05em;
  margin-bottom: 0px;
}
.position-review label {
  font-size: 1.05em;
}
.position-review .control-label {
  margin-right: 20px;
}
.sortable-header {
  cursor: pointer;
}
.note-delete {
  cursor: pointer;
  color: #FF0055;
}
.link-button {
  cursor: pointer;
  text-decoration: underline;
}
.item-active {
  font-weight: bold;
  font-size: 1.1em;
}
.positive {
  color: #00CCCC;
}
.negative {
  color: #ffa8a8;
}
.page-size-selector {
  background-color: #2b3e50;
}
