<div class="row">
    <div class="col-sm-2 left-panel">
        <div class="list-group table-of-contents side-bar">
            <a class="list-group-item" ui-sref="trade.transaction">Manage Transaction</a>
            <a class="list-group-item" ui-sref="trade.order">Manage Trade Order</a>
            <a class="list-group-item" ui-sref="trade.zone">Manage Zone</a>
            <a class="list-group-item" ui-sref="trade.broker">Manage Broker</a>
            <a class="list-group-item" ui-sref="trade.account">Manage Account</a>


        </div>
    </div>
    <div class="col-sm-10 content-panel">
        <div class="row">
            <div ui-view></div>

        </div>

    </div>
</div>