<div class="row">
    <div class="col-sm-2 left-panel">

        <div class="list-group table-of-contents side-bar">
            <a class="list-group-item" ui-sref="plan.list">Plan</a>
            <a class="list-group-item" ui-sref="plan.journey">Journey</a>
            <a class="list-group-item" ui-sref="plan.idea">Idea</a>
            <a class="list-group-item" ui-sref="plan.record">Record</a>
        </div>
    </div>

    <div class="col-sm-10 content-panel">
        <div class="row">
            <div ui-view></div>

        </div>

    </div>
</div>